.xm-letterify p:last-child {
	margin-bottom: 0;
}

.xm-letterify .text-center {
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.xm-letterify .text-right {
	text-align: right;
}

@font-face {
	font-family: "Almibar";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Almibar.ttf") format("truetype");
}

@font-face {
	font-family: "AlwaysAGoodTime";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/AlwaysAGoodTime.ttf") format("truetype");
}

@font-face {
	font-family: "Betterfly";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Betterfly.ttf") format("truetype");
}

@font-face {
	font-family: "BreakingBread";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/BreakingBread.ttf") format("truetype");
}

@font-face {
	font-family: "Brusher";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Brusher.ttf") format("truetype");
}

@font-face {
	font-family: "BukhariScript";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/BukhariScript.ttf") format("truetype");
}

@font-face {
	font-family: "GrandHotel";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/GrandHotel.otf") format("opentype");
}

@font-face {
	font-family: "HickoryJack";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/HickoryJack.ttf") format("truetype");
}

@font-face {
	font-family: "Kaleidos";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Kaleidos.ttf") format("truetype");
}

@font-face {
	font-family: "Lavanderia";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Lavanderia.ttf") format("truetype");
}

@font-face {
	font-family: "Norican";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Norican.ttf") format("truetype");
}

@font-face {
	font-family: "PermanentMarker";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/PermanentMarker.ttf") format("truetype");
}

@font-face {
	font-family: "Sanelma";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Sanelma.ttf") format("truetype");
}

@font-face {
	font-family: "Sophia";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Sophia.ttf") format("truetype");
}

@font-face {
	font-family: "StorytellerScript";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/StorytellerScript.ttf") format("truetype");
}

.xm-letterify {
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: .25rem;
}

.xm-letterify .xm-input-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: .75rem 1.25rem;
}

.xm-letterify .xm-input-wrap .xm-input-frag {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.xm-letterify .xm-input-wrap .xm-input-frag:not(:first-child):not(:last-child) {
	padding: 0 10px;
}

.xm-letterify .xm-input-wrap:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.xm-letterify .xm-input-wrap input,
.xm-letterify .xm-input-wrap select,
.xm-letterify .xm-input-wrap textarea {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #5b5b5a;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #b4b4b3;
	border-radius: .25rem;
	-webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.xm-letterify .xm-input-wrap input.xm-entry-text,
.xm-letterify .xm-input-wrap select.xm-entry-text,
.xm-letterify .xm-input-wrap textarea.xm-entry-text {
	font-size: 1.5rem;
}

.xm-letterify .xm-input-wrap.xm-input-sm {
	font-size: 0.9rem;
}

.xm-letterify .xm-input-wrap label {
	display: block;
	margin-right: 10px;
	width: calc(30% - 10px);
}

.xm-letterify .xm-input-wrap label strong {
	font-weight: 600;
}

.xm-letterify .xm-input-wrap label + input,
.xm-letterify .xm-input-wrap label + select,
.xm-letterify .xm-input-wrap label + textarea {
	display: block;
}

:not(.xm-input-full) .xm-letterify .xm-input-wrap label + input, :not(.xm-input-full)
.xm-letterify .xm-input-wrap label + select, :not(.xm-input-full)
.xm-letterify .xm-input-wrap label + textarea {
	width: 70%;
}

.xm-letterify .xm-input-wrap.xm-input-full {
	display: block;
}

.xm-letterify .xm-input-wrap.xm-input-full > * {
	text-align: left;
	min-width: 100%;
}

.xm-letterify .xm-input-wrap input[type=submit] {
	color: #fff;
	background-color: #ff5a46;
	border: 1px solid #ff5a46;
	display: inline-block;
	font-weight: 600;
	letter-spacing: .1em;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	-webkit-transition: all .15s ease-in-out;
	        transition: all .15s ease-in-out;
}

.xm-letterify .xm-input-wrap input[type=submit]:hover {
	color: #fff;
	background-color: #ff3820;
	border-color: #ff2d13;
}

.xm-letterify .xm-input-wrap input[name=color] {
	text-transform: uppercase;
}

.xm-letterify .xm-input-wrap input[name=color]::before {
	content: '';
	display: block;
	height: 1rem;
	width: 1rem;
	background: var(--background);
}
